@import "https://fonts.googleapis.com/css2?family=Roboto:wght@500&display=swap";


.menu {
    max-width: 940px;
    height: 366px;
    margin: 10px auto;
    background: #FBDFDB;
    border-radius: 20px;
    position: relative;
    display: grid;
    grid-template-columns: 1fr 1fr;
    margin-bottom: 30px;
}

.texto-menu {
    padding: 20px;
    margin: auto;
}

.texto-menu a {
    font-size: 32px;
    line-height: 42px;
    color: #111111;
    font-family: 'Roboto';
}

.texto-menu p {
    font-size: 18px;
    line-height: 28px;
    margin-top: 10px;
    font-family: 'Roboto-Regular';
    max-width: 290px;
}

.image img {
    position: absolute;
    bottom: 0;
    right: 0;
    margin: 0 100px 0 0;
}

.cards-receitas {
    padding: 5px 0 30px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 20px;
    
}

.titulo {
    font-size: 20px;
    line-height: 30px;
    color: #111111;
    font-family: 'Roboto';
    
}
.card {
    padding: 10px 0 0 ;
}

.foto img {
    width: 100%;
    border-radius: 10px;
    margin-bottom: 10px;
}

.titulo-comida {
    font-size: 17px;
    line-height: 28px;
    color: #111111;
    font-family: 'Roboto';
    
}

.autor {
    font-size: 14px;
    line-height: 24px;
    color: #777777;
    
}
